* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.home,
.edit,
.userInfo {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}
