.DrawerToggle {
  width: 65px;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  padding: 15px 15px;
  box-sizing: border-box;
  cursor: pointer;
}

div.DrawerToggle:hover {
  background-color: gray;
}

.DrawerToggle div {
  width: 90%;
  height: 3px;
  background-color: white;
}

/* @media (min-width: 500px) {
  .DrawerToggle {
    display: none;
  }
} */
