.DynamicRowListItem {
  margin: 8px 0 0 0;
  /* padding-top: 2px; */
  padding: 16px 16px 16px 24px;
  box-sizing: border-box;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  /* border-top: 1px solid rgba(34, 36, 38, 0.15); */
  border-radius: 12px;
  background-color: #ffffff;
}

.DynamicRowListItem:last-of-type {
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);
}

.DynamicRowListItemLeft {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: flex-start;
  /* width: 100%; */
}

.DynamicRowListItemRightButtons {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: flex-start;
  /* width: 100%; */
}

.DynamicRowListItem a {
  color: #4183c4 !important;
  font-weight: 400;
  text-decoration: none; /*Linkin altini cizmesin diye*/
  width: 100%;
  box-sizing: border-box;
  display: block;
}

.DynamicRowHeader:hover {
  background-color: rgba(134, 120, 216, 0.089);
}

.DynamicRowListItem a:hover,
.DynamicRowListItem a:active,
.DynamicRowListItem a.active {
  color: #40a4c8;
}

.DynamicRowHeader {
  /* color: rgb(8, 44, 246); */
  font-family: Arial;
  font-style: normal;
  font-weight: 550;
  font-size: 14px;
  line-height: 157%;
  /* identical to box height, or 22px */

  letter-spacing: -0.4px;
}

.DynamicRowValue {
  /* color: rgba(0, 0, 0, 0.7); */
  /* caption */

  font-family: Arial;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 166%;
  /* or 20px */

  letter-spacing: -0.4px;

  /* grey-400 */
  color: #bdbdbd;
}

.DynamicRowTitle {
  /* caption */
  margin-right: 4px;

  font-family: Arial;
  font-style: normal;
  font-weight: 550;
  font-size: 12px;
  line-height: 166%;
  /* or 20px */

  letter-spacing: -0.4px;

  /* grey-700 */
  color: #616161;
}

.DynamicRowButtonClickEffect:active {
  /* background-color: #3e8e41 !important; */
  /* box-shadow: 0 2px rgba(26, 22, 61, 0.16); */
  transform: translateY(4px);
}
