.page {
  font-size: 1.2rem;
  margin-left: 45%;
  margin-top: 5%;
}

.SubmitLogin {
  margin-top: 1rem;
}

.welcome {
  font-size: 2rem;
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
}

.password {
  margin-top: 2%;
}
