.page {
  font-size: 1.2rem;
  margin-left: 45%;
  margin-top: 5%;
}

.SubmitRegister {
  margin-top: 1rem;
}

.password {
  margin-top: 2%;
}

.idno {
  margin-top: 2%;
}

.bdate {
  margin-top: 2%;
}
