/* These are for mobile view: */

.NavigationItem {
  margin: 1px 0;
  box-sizing: border-box;
  display: block;
  width: 100%;
}

.NavigationItem a {
  padding: 10px 5px;
  color: #8f5c2c;
  text-decoration: none; /*Linkin altini cizmesin diye*/
  width: 100%;
  box-sizing: border-box;
  display: block;
  border-radius: 5px;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
  color: #40a4c8;
  background-color: rgb(241, 243, 243);
}

/* These are for web view, after 500px: The mobile settings will be merged with these below. */
/* @media (min-width: 500px) {

  .NavigationItem {
    margin: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 100%;
    width: auto;
  }

  .NavigationItem a {
    color: white;
    height: 100%;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
  }

  .NavigationItem a:hover,
  .NavigationItem a:active,
  .NavigationItem a.active {
    background-color: #8f5c2c;
    border-bottom: 4px solid #40a4c8;
    color: white;
  }
} */
