.AccordionForProjects-list {
  margin-top: 36px;
}

.AccordionForProjects-list h4 {
  padding-bottom: 1rem;
}

.AccordionForProjects-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.AccordionForProjects-list li {
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.26);
  border-radius: 12px;
  background-color: #ffffff;
  /* display: flex;
  justify-content: space-between; */
}

.AccordionForProjects-list li:hover {
  background-color: #ccc;
}

.AccordionForProjects-complete-editing-button {
  background-color: transparent;
  border: none;
  color: #5c9210;
  outline: none;
  cursor: pointer;
  font: inherit;
  margin-left: 10px;
  font-weight: bold;
}

.AccordionForProjects-remove-button {
  background-color: transparent;
  border: none;
  color: #944317;
  outline: none;
  cursor: pointer;
  font: inherit;
  font-weight: bold;
}
